In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
data = pd.read_csv('Attività_regioni.csv')
data

,ITTER107,Territorio,TIPO_DATO_SDS_ICT,Tipo dato,TIME,Seleziona periodo,Value,Flag Codes,Flags
0,IT,Italia,FINDGOOD,cercare informazioni su merci e servizi,2005,2005,59.1,NaN,NaN
1,IT,Italia,FINDGOOD,cercare informazioni su merci e servizi,2006,2006,60.0,NaN,NaN
2,IT,Italia,FINDGOOD,cercare informazioni su merci e servizi,2007,2007,64.8,NaN,NaN
3,IT,Italia,FINDGOOD,cercare informazioni su merci e servizi,2008,2008,66.3,NaN,NaN
4,IT,Italia,FINDGOOD,cercare informazioni su merci e servizi,2009,2009,64.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9787,9,50.001 ab. e più,CLOUD,usare servizi di archiviazione su Internet per...,2016,2016,26.7,NaN,NaN
9788,9,50.001 ab. e più,CLOUD,usare servizi di archiviazione su Internet per...,2017,2017,29.0,NaN,NaN
9789,9,50.001 ab. e più,CLOUD,usare servizi di archiviazione su Internet per...,2018,2018,29.7,NaN,NaN
9790,9,50.001 ab. e più,CLOUD,usare servizi di archiviazione su Internet per...,2019,2019,30.7,NaN,NaN
9791,9,50.001 ab. e più,CLOUD,usare servizi di archiviazione su Internet per...,2020,2020,37.4,NaN,NaN

In [ ]:
dataSet[dataSet[]]

In [15]:
zones = ['Nord-ovest', 'Nord-est', 'Centro', 'Sud', 'Isole']

data = data.loc[list(map(lambda x: x in zones, data['Territorio']))]
data

,ITTER107,Territorio,TIPO_DATO_SDS_ICT,Tipo dato,TIME,Seleziona periodo,Value,Flag Codes,Flags
288,ITC,Nord-ovest,FINDGOOD,cercare informazioni su merci e servizi,2005,2005,62.7,NaN,NaN
289,ITC,Nord-ovest,FINDGOOD,cercare informazioni su merci e servizi,2006,2006,64.5,NaN,NaN
290,ITC,Nord-ovest,FINDGOOD,cercare informazioni su merci e servizi,2007,2007,68.4,NaN,NaN
291,ITC,Nord-ovest,FINDGOOD,cercare informazioni su merci e servizi,2008,2008,71.2,NaN,NaN
292,ITC,Nord-ovest,FINDGOOD,cercare informazioni su merci e servizi,2009,2009,69.4,NaN,NaN
...,...,...,...,...,...,...,...,...,...
7483,ITG,Isole,CLOUD,usare servizi di archiviazione su Internet per...,2016,2016,23.4,NaN,NaN
7484,ITG,Isole,CLOUD,usare servizi di archiviazione su Internet per...,2017,2017,28.3,NaN,NaN
7485,ITG,Isole,CLOUD,usare servizi di archiviazione su Internet per...,2018,2018,25.3,NaN,NaN
7486,ITG,Isole,CLOUD,usare servizi di archiviazione su Internet per...,2019,2019,26.4,NaN,NaN
7487,ITG,Isole,CLOUD,usare servizi di archiviazione su Internet per...,2020,2020,32.1,NaN,NaN